.App {

    color: white;
    font-family: var(--font-family);
    font-size: 3vh;
    margin: 0 5vw;
    height: 100vh;

}

video {

    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;

}

.links {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0vh;

}

a { width: fit-content; }

a .hero { transition: all 0.2s ease-in-out; }

a:hover .hero {

    background-color: white;
    color: black;
    cursor: pointer;

}